* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
}

::-webkit-scrollbar {
  display: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  user-select: none;
}

body {
  min-height: 568px;
  background-image: radial-gradient(50% 50% at 50% 50%, #FFA9A9 0%, #FFFFFF 30%);
}

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

.container {
  padding: 0 9rem;
}

/* header */
.top-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 6rem;
  margin-left: -1em;
}

.top-header h1 {
  font-size: 2.4rem;
}

/* header end */


/* main */
/* filter */
.filter {
  min-height: 18rem;
  /* border: 1px solid #000; */
}

/* wines */
.wines {
  margin-top: 4.5rem;
  min-height: 35rem;
}

.wine-list {
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.wine-list .wine-item {
  min-width: 29rem;
  margin-right: 3rem;
}

.wine-list .wine-item .item-img {
  width: 100%;
  height: 35rem;
  overflow: hidden;
}

.item-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: auto;
  height: 100%;
}

.wine-list .wine-item .titles {
  margin-top: 4rem;
  text-align: center;
}

.titles h1 {
  font-size: 1.8rem;
}

/* main end */

/* slide */
.slide {
  width: calc(100% - 18rem);
  margin: auto;
  margin-top: 6.5rem;
  height: 2px;
  background-color: #000;
}

.slide-base {
  width: 95%;
  height: 100%;
  margin: auto;
  /* border: 1px solid red; */
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 2.8rem;
  height: 2.8rem;
  background-color: #151FFF;
  border-radius: 50%;
  cursor: move;
}
.circle:active {
  background-color: #FF6262;
  transform: scale(1.25) translate(0, -40%);
}

/* slide end */

/* sort */
.filter {
  padding-top: 2rem;
}

.filter .sort {
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

.filter .sort h1 {
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.filter .sort span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 3.5rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background: #FFFFFF;
  border: 1px solid #000AFC;
  border-radius: 3rem;
  font-size: 2.4rem;
  line-height: 1.2;
  cursor: pointer;
}
.active {
  color: #fff;
  background-color: #000AFC!important;
}
/* sort end */


/* mark */
.mark {
  position: absolute;
  top: 75%;
  right: 0;
  width: 2.4rem;
  margin-right: 9rem;
}
.mark span {
  cursor: pointer;
}


/* media query */
@media screen and (max-width: 768px) {
  .index_filter {
    display: none;
  }
  .sort_wines {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  .sort_filter {
    margin-top: 6.5rem;
    height: 80%;
  }
  .sort_filter .sort {
    margin-bottom: 10%;
  }
  .sort_filter .sort h1 {
    width: 100%;
    font-size: 1.8rem;
  }
  .sort_filter .sort span {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-right: 1rem;
  }
  .slide {
    display: none;
  }
  html, body {
    height: 100%;
    min-height: 81.2rem;
  }
  .wrapper .container {
    padding: 0 2.2rem;
  }
  .top-header h1 {
    padding-top: 2.2rem;
    text-align: center;
  }
  .top-header .mark {
    margin-right: 4.5rem;
    top: 1rem;
  }
  .wines {
    height: calc(100% - 9.5rem);
  }
  .wine-list {
    height: 90%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .wine-list .wine-item {
    margin-right: 0;
    margin-bottom: 3.5rem;
    min-width: 24rem;
    height: auto;
  }
  .wine-list .wine-item .item-img {
    height: 24rem;
  }
  .wine-list .wine-item .titles {
    margin-top: 1rem;
  }
  
}